extends layout

block content
  h1= title
  p Welcome to #{title} and this is the Initial page.
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/hats") Take me to costumes
    br
    a(href="/logout") Logout
