body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hatAttr {
  background-color: aquamarine;
  width: 120px;
}

.form-group {
  margin-bottom: 20px;
}

.hatAttrInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

.hatAttrSubmit {
  background-color: #00B7FF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.row-margin {
  margin-bottom: 2rem;
}

.label-margin {
  margin-right: 1rem;
}
